// Override default variables before the import
$primary: #2A4B7C;
$secondary: #202C45;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #2A4B7C;
$border-radius: 0;
$btn-border-radius: 0;
$border-radius-lg: 0;
$small-font-size: 80%;
$link-decoration: none;
$headings-color: $secondary;
$navbar-padding-x: 1rem;

small,
.small {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
