<div class="root p-2 d-flex flex-column justify-content-center">
    <div class="login text-center text-white p-2 bg-primary">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('index') }}">
            <div class="d-flex flex-column align-center mx-auto">
                {{ form.csrf_token }}
                <p>
                    {{ form.email.label }} <br> {{ form.email }}
                </p>
                <p>
                    {{ form.password.label }} <br> {{ form.password }}
                </p>
                {{ form.submit }}
                <input class="mx-auto" type="submit" value="Log In">
            </div>
        </form>
    </div>
</div>