@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.BlogContent {
    position: relative;
    width: 100%;
    padding: 15px;
    background: #f1f3ff;

    @include media-breakpoint-only(md) {
        padding: 30px;
        margin-left: 60px;
        width: calc(100% - 60px);
    }

    @include media-breakpoint-up(lg) {
        width: calc(100vw - 350px);
        float: right;
        min-height: 100vh;
        padding: 30px;
    }
}
